*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
h1{
    font-size: 3em;
}


button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}
#webcam-container{
    border: 1px solid blue;
}
#webcam-container:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#label-container {
    padding: 0.5em 1em;
    background-color: #0ebac5;
    border: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#label-container:hover::after, #label-container:hover::before {
    content: '';
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;

    animation: move-right-side 1s ease infinite;
}

#label-container:hover::before {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    inset: 0;
    animation: move-left-side 1s ease infinite;
    z-index: -2;
}

#label-container:hover {
    background-color: #fff;
    color: #00C9FF;
}

@keyframes move-right-side {
    0% {
        inset: 0.3em 0 0 0.3em; /*top | left */
    }

    33% {
        inset: 0 0.3em 0.3em 0; /*right| bottom*/
    }
        
    66% {
        /* top | right | bottom | left */
        inset: 1em 0 0 0.5em; /*top | right */
    }

    100% {
        inset:0  1em 0.5em 0;
    }
}

/* Move left Side */

@keyframes move-left-side {
    0% {
        right: -1em;
        top: -0.5em;
    }

    33% {
        bottom: -1em;
        left: -0.5em;
    }

    66% {
        top: 0;
        right:-0.7;
    }

    100% {
        right: -1em;
        top: -0.5em;
    }
}